<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>
        {% block title %} 
        Synapse Tech 
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    {% load static %}
    <style></style>
  </head>
  <body>
    <main class="container">
        {% block content %}
        {% endblock%}
    </main>
  </body>
</html>
